---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
  become: true
- name: Install required packages
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  become: true
  loop:
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg
    - lsb-release
    - python3-docker
- name: Create keyrings directory
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"
  become: true
- name: Download Docker GPG key
  ansible.builtin.get_url:
    url: "{{ docker_debian_gpg_key }}"
    dest: /etc/apt/keyrings/docker.asc
    mode: "0644"
  become: true
- name: Add Docker repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] {{ docker_debian_repository }} {{ ansible_distribution_release }} stable"
    state: present
    update_cache: true
  become: true
- name: Create docker config directory
  ansible.builtin.file:
    path: /etc/docker
    state: directory
- name: Generate Docker Configuation
  ansible.builtin.template:
    src: daemon.json.j2
    dest: /etc/docker/daemon.json
- name: Install Docker
  ansible.builtin.apt:
    name: "{{ docker_debian_package }}"
    state: present
  become: true
- name: Ensure Docker is running
  ansible.builtin.systemd:
    name: docker
    state: started
    enabled: true
  become: true
