---
- name: Add forum domain to hosts file
  ansible.builtin.lineinfile:
    path: /etc/hosts
    line: "127.0.0.1 {{ discourse_forum_domain }}"
    state: present
- name: Template the vector sources file
  ansible.builtin.template:
    src: vector.yaml.j2
    dest: /etc/vector/discourse.yaml
  notify: Vector-reload
