******************************************************************

Hello, this is {{ ansible_hostname }}.

    ___________________          _-_
    \==============_=_/ ____.---'---`---.____
                \_ \    \----._________.----/
                  \ \   /  /    `-_-'
              __,--`.`-'..'-_
             /____          ||
                  `--.____,-'

OS: {{ ansible_distribution }} {{ ansible_distribution_version }} ({{ ansible_distribution_release }}).
Team: {{ tenants[0] }}
Project/Service: {{ project }}
Environment: {{ hostvars[inventory_hostname]['environment'] }}

Hosted on {{ sites[0] }}.

This system is controlled by the Ethereum Foundations DevOps Team.
Unauthorized access to this device is prohibited.
All activities performed on this device may be logged.

Fly safe!
******************************************************************
