---
- name: Restart Vector
  ansible.builtin.systemd:
    name: vector-multi
    state: restarted
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
- name: Restart OpenBao Agent
  ansible.builtin.systemd:
    name: openbao-agent
    state: restarted
  notify: Restart Vector
