---
- name: Remove OD certbot
  ansible.builtin.apt:
    update_cache: true
    state: absent
    pkg:
      - certbot
      - python3-certbot-dns-cloudflare

- name: Install snapd
  ansible.builtin.apt:
    pkg:
      - snapd
 
- name: Enable and start snapd socket
  ansible.builtin.systemd:
    name: snapd.socket
    enabled: true
    state: started

- name: Enable classic snap support (create symlink)
  ansible.builtin.file:
    src: /var/lib/snapd/snap
    dest: /snap
    state: link

- name: Install snap core
  community.general.snap:
    name: core
    state: present

- name: Install certbot via snap
  community.general.snap:
    name: certbot
    classic: true
    state: present

- name: Create certbot symlink
  ansible.builtin.file:
    src: /snap/bin/certbot
    dest: /usr/bin/certbot
    state: link

- name: Download acme-dns-hook
  ansible.builtin.get_url:
    url: >-
      https://github.com/koesie10/acme-dns-certbot-hook/releases/download/v0.1.1/acme-dns-certbot-hook_0.1.1_linux_amd64.tar.gz
    dest: /tmp/acme-dns-certbot-hook.tar.gz
    mode: '0644'
- name: Extract acme-dns-certbot-hook tarball
  ansible.builtin.unarchive:
    src: /tmp/acme-dns-certbot-hook.tar.gz
    dest: /usr/local/bin
    remote_src: true
- name: Generate acme-dns config
  ansible.builtin.template:
    src: acme-dns.cfg.j2
    dest: /etc/acme-dns.cfg
- name: Generate cert prepare script
  ansible.builtin.template:
    src: prepare-certs.sh.j2
    dest: /usr/local/bin/prepare-certs.sh
    mode: '0755'
- name: Check if domain has already a certificate
  check_mode: false
  ansible.builtin.stat:
    path: /etc/letsencrypt/live/{{ item.domain }}
  loop: "{{ acme_certificates_cert_domains }}"
  register: acme_certificates_cert_status
  loop_control:
    label: "{{ item.domain }}"
- name: Request certificates for new domains from Let's Encrypt
  throttle: 1
  when: not item.stat.exists
  loop: "{{ acme_certificates_cert_status.results }}"
  loop_control:
    label: "{{ item.item.domain }}"
  ansible.builtin.command:
    cmd: >-
      certbot certonly -n -m '{{ acme_certificates_cert_email }}' --agree-tos --manual
      --manual-auth-hook '/usr/local/bin/acme-dns-certbot-hook -config /etc/acme-dns.cfg'
      --preferred-challenges dns
      {% if acme_certificates_profile == 'shortlived' %}--preferred-profile shortlived{% endif %}
      -d {{ item.item.domain }} -d '*.{{ item.item.domain }}'
- name: Prepare haproxy certs
  ansible.builtin.command:
    cmd: /usr/local/bin/prepare-certs.sh
- name: Add certificate auto-renew to cron
  ansible.builtin.cron:
    name: renew certificates
    minute: "{{ ansible_play_hosts.index(inventory_hostname) * 10 }}"
    hour: "*/{{ acme_certificates_renewal_hours }}"
    job: "/usr/bin/certbot renew --post-hook '/usr/local/bin/prepare-certs.sh'"
