data_dir: "/var/lib/vector"
api:
  enabled: true

sources:
  metrics_host:
    type: host_metrics
  logs_files:
    type: file
      include:
        - /var/log/**/*.log

  logs_journal:
    type: journald

{{- if docker_installed }}
  dockerlogs:
    logs_docker:
      type: docker_logs
{{ end }}

transforms:
  metrics_with_labels:
    type: remap
    inputs: ["metrics_*"]
    source: |-
      .tags.hostname = "{{ inventory_hostname }}"
      .tags.environment = "{{ hostvars[inventory_hostname]['environment'] }}"
      .tags.project: "{{ project }}"
      .tags.tenant: "{{ tenants[0] }}"

sinks:
  quokka_victoria:
    type: prometheus_remote_write
    inputs: ["metrics_with_labels"]
    endpoint: https://{{ metrics_host }}/api/v1/write
    auth:
      strategy: basic
      user: "{{ metrics_user }}"
      password: "{{ metrics_password }}"

  quokka_loki: 
    type: loki
    inputs: ["logs_*"]
    endpoint: https://{{logs_host}}/loki/api/v1/push
    auth:
      strategy: basic
      user: "{{ metrics_user }}"
      password: "{{ metrics_password }}"
    labels:
      hostname: "{{ inventory_hostname }}",
      project: "{{ project }}",
      environment: "{{ hostvars[inventory_hostname]['environment'] }}",
      tenant: "{{ tenants[0] }}",

