---
- name: Download jvb exporter
  vars:
    jvb_exporter_base: https://github.com/systemli/prometheus-jitsi-meet-exporter/releases/download
  ansible.builtin.get_url:
    url: "{{ jvb_exporter_base }}/{{ jvb_exporter_version }}/prometheus-jitsi-meet-exporter_{{ jvb_exporter_version }}_linux_amd64.tar.gz"
    dest: /tmp/jitsi-exporter.tar.gz
- name: Unpack the exporter
  check_mode: false
  ansible.builtin.unarchive:
    src: /tmp/jitsi-exporter.tar.gz
    dest: /usr/local/bin
    remote_src: true
- name: Copy jitsi export service
  ansible.builtin.copy:
    src: jitsi-exporter.service
    dest: /etc/systemd/system/jitsi-exporter.service
  notify:
    - Reload systemd
- name: Make sure jitsi exporter service is enabled
  ansible.builtin.systemd:
    name: jitsi-exporter
    state: started
    enabled: true
- name: Add vector to jitsi group
  ansible.builtin.user:
    name: vector
    groups: jitsi
    append: true
- name: Ensure vector config dir exists
  ansible.builtin.file:
    path: /etc/vector
    state: directory
- name: Add the scrape to vector
  ansible.builtin.template:
    src: vector.yaml.j2
    dest: /etc/vector/jitsi.yaml
  notify: Vector-reload
