---
- name: Install UFW
  ansible.builtin.apt:
    name: ufw
- name: Allow ssh/tcp
  community.general.ufw:
    rule: allow
    port: '22'
    proto: tcp
- name: Allow jvb streaming/udp
  community.general.ufw:
    rule: allow
    port: '10000'
    proto: udp
- name: Allow jvb websockets/tcp
  community.general.ufw:
    rule: allow
    port: '9090'
    proto: tcp
- name: Enable UFW
  community.general.ufw:
    state: enabled
