---
- name: Get jitsi gpg key
  ansible.builtin.get_url:
    url: https://download.jitsi.org/jitsi-key.gpg.key
    dest: /etc/apt/keyrings/jitsi.asc
- name: Add jitsi repo
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/jitsi.asc] https://download.jitsi.org stable/"
  notify:
    - Update apt cache
- name: Install Jitsi Videobridge
  ansible.builtin.apt:
    name: "jitsi-videobridge2={{ jvb_jitsi_version }}"
    allow_downgrade: true
- name: Pin JVB
  ansible.builtin.copy:
    dest: /etc/apt/preferences.d/pinning
    content: |
      Package: jitsi-videobridge2
      Pin: version {{ jvb_jitsi_version }}
      Pin-Priority: 1001
- name: Generate jvb config
  notify: Jvb-restart
  ansible.builtin.template:
    src: jvb.conf
    dest: /etc/jitsi/videobridge/jvb.conf
- name: Remove sip config
  notify: Jvb-restart
  ansible.builtin.file:
    path: /etc/jitsi/videobridge/sip-communicator.properties
    state: absent
- name: Make sure jvb service is enabled
  ansible.builtin.systemd:
    name: jitsi-videobridge2
    state: started
    enabled: true
- name: Add cron job to restart JVB every saturday
  ansible.builtin.cron:
    name: "Restart JVB"
    minute: "0"
    hour: "10"
    day: "*"
    month: "*"
    weekday: "6"
    job: "/usr/bin/systemctl restart jitsi-videobridge"
    state: present
