---
- name: Disable unattended updates
  ansible.builtin.systemd:
    name: unattended-upgrades
    state: stopped
    enabled: false
- name: Remove unattended-upgrades package
  ansible.builtin.apt:
    name: unattended-upgrades
    state: absent
