---
- name: Find host with k3s_bootstrap defined
  ansible.builtin.set_fact:
    k3s_bootstrap_host: "{{ item }}"
  loop: "{{ groups['device_roles_k3s-server'] | map('extract', hostvars) | selectattr('k3s_bootstrap', 'defined') | list }}"
  when: k3s_bootstrap_host is not defined
  loop_control:
    label: "{{ item.inventory_hostname }}"
- name: Set bootstrap
  when: k3s_bootstrap is not defined
  ansible.builtin.set_fact:
    k3s_server_join: "--server=https://{{ k3s_server_lb_ip }}:6443"
- name: Copy K3s service file
  register: k3s_service
  ansible.builtin.template:
    src: "k3s-server.service.j2"
    dest: "{{ k3s_systemd_dir }}/k3s-server.service"
    owner: root
    group: root
    mode: "0644"
- name: Create directory .kube
  ansible.builtin.file:
    path: ~/{{ ansible_user }}/.kube
    state: directory
    owner: "{{ ansible_user }}"
    mode: "u=rwx,g=rx,o="
- name: Create dir for /etc/rancher/k3s/config.yaml.d
  ansible.builtin.file:
    path: /etc/rancher/k3s/config.yaml.d
    state: directory
    owner: root
    group: root
    mode: '0755'
  when: k3s_etcd_enabled and k3s_etcd_snapshot_enabled
- name: Create backup file for etcd
  ansible.builtin.template:
    src: "k3s-etcd-backup.yaml.j2"
    dest: "/etc/rancher/k3s/config.yaml.d/etcd-backup.yaml"
    owner: root
    group: root
    mode: "0644"
  when: k3s_etcd_enabled and k3s_etcd_snapshot_enabled
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
- name: Enable and check K3s service # noqa: no-handler
  ansible.builtin.systemd:
    name: k3s-server
    state: restarted
    enabled: true
  when: k3s_service.changed
- name: Copy config file to user home directory
  ansible.builtin.copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: ~/{{ ansible_user }}/.kube/config
    remote_src: true
    owner: "{{ ansible_user }}"
    mode: "u=rw,g=,o="
# - name: Replace https://localhost:6443 by https://master-ip:6443
#   ansible.builtin.command: >-
#     k3s kubectl config set-cluster default
#     --server=https://{{ k3s_server_lb_ip }}:6443
#     --kubeconfig ~/{{ ansible_user }}/.kube/config
#   changed_when: true
- name: Create kubectl symlink
  ansible.builtin.file:
    src: /usr/local/bin/k3s
    dest: /usr/local/bin/kubectl
    state: link
- name: Create crictl symlink
  ansible.builtin.file:
    src: /usr/local/bin/k3s
    dest: /usr/local/bin/crictl
    state: link
