#!/bin/bash
{% for domain in acmedns_cert_domains %}

echo "Preparing Domain {{domain}}..."
cat /etc/letsencrypt/live/{{ domain }}/fullchain.pem /etc/letsencrypt/live/{{ domain }}/privkey.pem > /etc/certificates/{{ domain }}.pem

{% endfor %}

echo "Reload HAProxy..."
/usr/bin/systemctl reload haproxy
echo "done."
