sources:
  jitsi_logs:
    type: file
    include:
      - /var/log/jitsi/*.log
    read_from: end
    multiline:
      mode: continue_through
      condition_pattern: "^\sat"
      start_pattern: "^JVB"
  jitsi_jvb:
    type: prometheus_scrape
    endpoints:
      - http://127.0.0.1:9888/metrics

transforms:
  logs_jitsi_jvb:
    type: remap
    inputs: ["jitsi_logs"]
    source: |-
      .tags.jitsi_region = "{{ jitsi_region }}"
  metrics_jitsi_jvb:
    type: remap
    inputs: ["jitsi_jvb"]
    source: |-
      .tags.jitsi_region = "{{ jitsi_region }}"

