sources:
  jitsi_jvb:
    type: prometheus_scrape
    endpoints:
      - http://127.0.0.1:9888/metrics

transforms:
  metrics_jitsi_jvb:
    type: remap
    inputs: ["jitsi_jvb"]
    source: |-
      .tags.jitsi_region = "{{ jitsi_region }}"

