---
- name: Install keepalived
  ansible.builtin.apt:
    pkg: keepalived
- name: Create keepalived config
  register: vrrp_keepalived_config
  ansible.builtin.template:
    src: keepalived.conf.j2
    dest: /etc/keepalived/keepalived.conf
  notify: Restart keepalived
