---
name: Lint and Test

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Python
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible-core ansible-lint yamllint
      - name: Install required Ansible collections
        run: |
          ansible-galaxy collection install ansible.posix community.general prometheus.prometheus
      - name: Run ansible-lint
        run: ansible-lint
      - name: Run yamllint
        run: yamllint .
      - name: Build collection (test)
        run: ansible-galaxy collection build --force
